BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignEscapedNewlines: DontAlign
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentPPDirectives: None
MaxEmptyLinesToKeep: 2
SortIncludes: false
SpacesBeforeTrailingComments: 2
